html
  head
    title Hospital Management System
    link(rel='stylesheet', href='/styles.css')

  body
    
    h1  Hospital Management System
    h2 welcome to get good health services,
    h3 <img src="image1.png" width="200" height="200" > 
    h4 
      a(href='appointments') VIEW APPOINTMENTS 
      a(href='patients') VIEW PATIENTS
       a(href='doctors') VIEW DOCTORS
       a(href='departments') VIEW DEAPARTMENT
